<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bordes.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>BORDES</h1>
    </header>
    <main>
        <section>
            <p>Esta propiedad especifíca que tipo de borde </p>
            <p id="parrafo-prueba">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ab dolores et repudiandae,
                totam exercitationem, iste illo doloremque similique delectus quidem qui? Voluptas, natus cumque
                incidunt esse dicta odit amet necessitatibus.</p>
        </section>
        <section>
            <h2>Bordes completos</h2>
            <p class="dotted">Un borde punteado.</p>
            <p class="dashed">Un borde discontinuo.</p>
            <p class="solid">Un borde sólido.</p>
            <p class="double">Un borde doble.</p>
            <p class="groove">Un borde en relieve.</p>
            <p class="ridge">Un borde en relieve invertido.</p>
            <p class="inset">Un borde en relieve interno.</p>
            <p class="outset">Un borde en relieve externo.</p>
            <p class="none">Sin borde.</p>
            <p class="hidden">Un borde oculto.</p>
            <p class="mix">Un borde mixto.</p>
        </section>
        <section>
            <h2>La propiedad border-width</h2>
            <article>
                <p>Esta propiedad especifica el ancho de los cuatro bordes:</p>
                <p class="one">Algo de texto.</p>
                <p class="two">Algo de texto.</p>
                <p class="three">Algo de texto.</p>
                <p class="four">Algo de texto.</p>
                <p class="five">Algo de texto.</p>
                <p class="six">Algo de texto.</p>
                <p><b>Nota:</b> La propiedad "border-width" no funciona si se utiliza sola.
                    Siempre especifique primero la propiedad "border-style" para establecer los bordes.</p>
            </article>
            <article>
                <h2>La propiedad border-width con tamaño especifico</h2>
                <p>La propiedad border-width puede tener de uno a cuatro valores (para el borde superior, borde derecho,
                    borde inferior y borde izquierdo):</p>
                <p class="uno">Algo de texto.</p>
                <p class="dos">Algo de texto.</p>
                <p class="tres">Algo de texto.</p>
            </article>
        </section>
        <section class="order">
            <figure id="img1">
                <img src="https://th.bing.com/th/id/R.5cf09c898712f21b847b018d2a9c8d7e?rik=8Hq%2f%2bPgAHwQO7w&riu=http%3a%2f%2fth03.deviantart.net%2ffs70%2fPRE%2fi%2f2013%2f356%2f4%2f1%2fsteampunk_xxiv_by_luria_xxii-d6yyepg.jpg&ehk=4EjWi%2bbde16kziaXgqIqsEQftiYK%2fiBfKcb4NFeptwY%3d&risl=&pid=ImgRaw&r=0"
                    alt="img1">
            </figure>
            <figure id="img2">
                <img src="https://2.bp.blogspot.com/-jM_BvR9xmYE/WZoY2juSz_I/AAAAAAAAE6g/2GVjSTxNbHs5zCkrSCEIUZ9d2y56kk3ZgCEwYBhgL/s1600/19701978_1379904112044973_8986319396766166989_n.jpg"
                    alt="ìmg2">
            </figure>
            <figure id="img3">
                <img src="https://th.bing.com/th/id/OIP.Ccd8GBCjlq9X069V3PxrvAHaLG?w=534&h=800&rs=1&pid=ImgDetMain"
                    alt="img3">
            </figure>
            <figure id="img4">
                <img src="https://i.pinimg.com/originals/52/cc/1a/52cc1ac6aadfdeab119d3cc45f141f05.jpg" alt="img4">
            </figure>
            <figure id="img5">
                <img src="https://th.bing.com/th/id/OIP.lbOf_ln1Bi_9mpyn9VqvqQHaJQ?w=600&h=750&rs=1&pid=ImgDetMain"
                    alt="img5">
            </figure>
        </section>
    </main>
    <footer></footer>
</body>

</html>