<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/margin.css">
    <title>Document</title>
</head>

<body>
    <header>
        <h1>Margin</h1>
    </header>
    <main>
            <h2>Usando propiedades de margen individuales</h2>
        <section>
            <figure class="contenedor-imagen">
                <img class="imagen" src="https://th.bing.com/th/id/OIP.dLNBxINIoZfqGZeDNOs7WQHaHa?rs=1&pid=ImgDetMain"alt="css img">
                <figcaption>imagen de css</figcaption>
            </figure>
            <figure class="contenedor-imagen">
                <img class="imagen" src="https://th.bing.com/th/id/OIP.dLNBxINIoZfqGZeDNOs7WQHaHa?rs=1&pid=ImgDetMain"alt="css img">
                <figcaption>imagen de css</figcaption>
            </figure>
            <figure class="contenedor-imagen">
                <img class="imagen" src="https://th.bing.com/th/id/OIP.dLNBxINIoZfqGZeDNOs7WQHaHa?rs=1&pid=ImgDetMain"alt="css img">
                <figcaption>imagen de css</figcaption>
            </figure>
            <figure class="contenedor-imagen">
                <img class="imagen" src="https://th.bing.com/th/id/OIP.dLNBxINIoZfqGZeDNOs7WQHaHa?rs=1&pid=ImgDetMain"alt="css img">
                <figcaption>imagen de css</figcaption>
            </figure>
        </section>
    </main>
    <footer></footer>
</body>

</html>